/* YAHEL */
/* top | right | bottom | left */
/* Estilo de todo el HTML  */
html{
    margin: auto; /*Centra El contenido */
    background-color: #ffffff;
    background-attachment: fixed; /*Fondo de pagina que no se mueva al cambiar tamaño de la Pagina */
    background-size: cover; /*Fondo De la Pagina se ajusta y escala en el fondo para cubir el HTML*/
    padding-top: 80px;
}

form{
    text-align: center;
}


/*Estilo de Texto*/
.style_Text{
  font-family: arial; /*Tipo de Letra*/
  color:black; /*Color de Letra*/
}


/*Estilos De Tabla Donde Aparecen los Registros*/
.tabla_Centro{
    display: inline-block;    
}


.tabla{
border-collapse: collapse; /*Estilo que hace que parezca mas una tabla*/
font-family: 'Quicksand', sans-serif; /*Tipo de Letra*/
}

table tr th{
    border: 1px solid Black; /*Borde de Cada Campo de la Tabla*/
    width: 150px;
    height: 50px;
    color: black;
    background-color: gray;
}


/*Estilos de las Nuevas Celas (Productos)*/
td {
    border: 1px solid #000000;
    width: 100px;
    height: 25px;
}


/* ISADORA */

/*Estilo de Inputs */
.inputbox {
    position: relative;
    width: 196px;
  }
  
  .inputbox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    outline: none;
    box-shadow: none;
    border: none;
    color: #ffffff;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
  }
  
  .inputbox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #9f192c;
    border-radius: 2px;
    transition: 0.5s;
    pointer-events: none;
    z-index: 0;
  }
  
  .inputbox input:valid ~i,
  .inputbox input:focus ~i {
    height: 44px;
  }
  

  /*Estilo de Buttom*/
.submit {
  padding: 15px 40px;
  border-radius: 10px;
  border: 0;
  background-color: #9f192c;
  letter-spacing: 1.5px;
  font-size: 20px;
  transition: all .3s ease;
  /*box-shadow: Black 0px 10px 0px 0px;*/ /*Diseño de Buttom*/
  color: hsl(0, 0%, 100%);
 }

 /*Diseño de Buttom
 .submit:hover { 
  box-shadow: rgb(82, 201, 46) 0px 7px 0px 0px;
 }
 */
 
 .submit:active {
  background-color: gray;  /*Diseño de Cuando se presiona el Buttom*/
  /*50, 168, 80*/
  box-shadow: rgb(32, 49, 127) 0px 0px 0px 0px;
  transform: translateY(5px);
  transition: 200ms;
 }

 .submit2 {
    padding: 10px 10px;
    border-radius: 10px;
    border: 0;
    background-color: black;
    letter-spacing: 1.5px;
    font-size: 15px;
    transition: all .3s ease;
    /*box-shadow: red;  Sombras del Buttom*/
    color: hsl(0, 0%, 100%);
   }
   
    /*Diseño de Buttom
   .submit2:hover {
    box-shadow: rgb(201, 46, 70) 0px 7px 0px 0px;
   }
   */
   
   .submit2:active {
    background-color: gray;
    /*50, 168, 80*/
    box-shadow: rgb(201, 46, 70) 0px 0px 0px 0px;
    transform: translateY(5px);
    transition: 200ms;
   }

   /*Estilo de borde Donde estan Los Inputs*/
   .style_input{
    margin: 20px red;
   }
